html {
    background: #f2f2f2;
}

body {
    background: #f2f2f2;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'EB Garamond', serif;
}

.title {
    font-family: 'Indie Flower', cursive;
    font-size:50px;

}

.title:hover {
    color: rgb(201, 196, 196);
}

.navlink li:hover {
    color: rgb(201, 196, 196);
}


.productlink a:hover * {
    opacity: 0.50;
}

header, footer {
    background: #333333; 
    color: white;
    padding: 10px 20px;
}

input[type="search"] {
    width: 100%;
}

header li {
    display: inline;
    font-size: 20px;
    margin-left: 15px;
}

header h1, nav{
    display: inline-block;
}

header h1 {
    width: 100%;
}

footer li {
    font-size: 20px;
    margin: 10px 15px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    padding: 15px;
}

.products {
    box-sizing: border-box;
    border: 1px;
    /*width: 30%;*/
    width: 100%;
    margin: 10px;
    padding: 10px;
}

img {
    max-height: 350px;
    max-width: 100%;
}

.button {
    font-size: 20px;
}

/* Main page */

#shop {
    font-size: 40px;
    background-color: white;
    top: 20px;
    left: 210px;
    color: black;
    padding: 10px;
}

#shop:hover {
    opacity: 0.8;
}

#heading {
    font-size: 60px;
}

.homepage {
    background-image: url("Images/background.jpg");
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 200px;
    
}

/* Product detail page */

.cart {
    background-color: #0e3259;
    position: relative;
    top: 20px;
    left: 210px;
    color: white;
    padding: 10px;
}

.product-detail {
    position: relative;
    width: 100%;
}

.product-detail img {
    float: left;
    padding: 30px;
}

/* Contact Us page */

form {
    padding: 10px;
    margin: 25px 25px ;
    width: 600px;
}

form > div {
    margin: 10px 0 ;
}

.inline label {
    display: inline-block;
}

input[type="text"], input[type="email"], textarea{
    padding: 10px;
    width: 400px;
}

/* Table */

@media (max-width:700px) {
    .product-detail img {
        width: 80%;
    }
}

@media (max-width:900px) {
    body {
        text-align: center;
    }
}

@media (min-width: 700px) {
    input[type="search"] {
        width: 40%;
        margin-left: 2em;
    }
    .products {
        display: inline-block;
        width: 38%;
    }
    heading {
        text-align: left;
    }

    .allproducts {
        text-align: center;
    }


@media (min-width: 900px) {
    header h1 {
        width: 50%;
        text-align: left;
    }
    input[type="search"] {
        width: 15%;
    }
    footer {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .products {
        display: inline-block;
        width: 30%;
    }
}